:root {
  --xq-body-text-color: #{$dark};
  --xq-body-bg-color: #{$white};
  --xq-btn-primary-color: #{$white};
  --xq-btn-primary-bg: #{$green};
  --xq-btn-primary-bg-hover: #{$green-light};
  --xq-btn-secondary-color: #{$dark};
  --xq-btn-secondary-bg: #{$gray};
  --xq-btn-secondary-bg-hover: #{$gray-light};
  --xq-form-color: #{$dark};
  --xq-form-bg: #{$white};
  --xq-form-error-color: #{$red};
  --xq-form-error-border: #{$red};
  --xq-form-border-focus-color: #{$green};
  --xq-app-bar-primary-bg-color: #{$violet};
  --xq-app-bar-primary-elevation-color: #{$black};
  --xq-app-bar-primary-font-color: #{$white};
  --xq-app-bar-secondary-bg-color: #{$white};
  --xq-app-bar-secondary-elevation-color: #{$black};
  --xq-app-bar-secondary-font-color: #{$black};
  --xq-fab-primary-bg-color: #{$violet};
  --xq-fab-primary-hover-color: #{$violet-light-1};
  --xq-fab-primary-focus-color: #{$violet-light-2};
  --xq-fab-primary-fill-color: #{$white};
  --xq-fab-primary-elevation-color: #{$black};
  --xq-fab-secondary-bg-color: #{$teal};
  --xq-fab-secondary-hover-color: #{$teal-light-1};
  --xq-fab-secondary-focus-color: #{$teal-light-2};
  --xq-fab-secondary-fill-color: #{$white};
  --xq-fab-secondary-elevation-color: #{$black};
  --xq-body-font-family: #{$roboto};
  --xq-body-font-size: #{$fs-sm};
  --xq-body-font-weight: #{$fw-normal};
  --xq-h1-font-size: #{$fs-h1};
  --xq-h2-font-size: #{$fs-h2};
  --xq-h3-font-size: #{$fs-h3};
  --xq-h4-font-size: #{$fs-h4};
  --xq-h5-font-size: #{$fs-h5};
  --xq-h6-font-size: #{$fs-h6};
  --xq-h1-font-weight: #{$fw-light};
  --xq-h2-font-weight: #{$fw-light};
  --xq-h3-font-weight: #{$fw-normal};
  --xq-h4-font-weight: #{$fw-normal};
  --xq-h5-font-weight: #{$fw-normal};
  --xq-h6-font-weight: #{$fw-medium};
  --xq-h1-line-height: #{$lh-h1};
  --xq-h2-line-height: #{$lh-h2};
  --xq-h3-line-height: #{$lh-h3};
  --xq-h4-line-height: #{$lh-h4};
  --xq-h5-line-height: #{$lh-h5};
  --xq-h6-line-height: #{$lh-h6};
}
